.mapScreen.list-map-layout
{
    display: flex;
}
.mapScreen.list-map-layout
{
    height: 0vh !important;
}
.mapScreen
{
    width: 100%;
    max-width: 100vw;
    min-height: calc(100vh - 100px);
    overflow: auto;
}

.mapContainer
{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

.svgMap
{
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: calc(100vh - 100px);
}

.notActivePath
{
    fill: #303e50 !important;
    stroke: #42526e !important;
}

.activePath {
    fill: #361212 !important;
    stroke: #473333 !important;
}

body
{
    background-color: #1a202c;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}